#rightArrow{
	width: 6.25%;
	display: flex;
	flex-direction: right;
	float: right;
	margin-top:250px;
}
#leftArrow{
	max-width: 10%;
	display: flex;
	flex-direction: left;
	float: left;
	margin-top: 250px;
	margin-left: -2%;
}
#autoPlay{
	margin-top:100%;
	margin-left: 35%;
	
}
#apod_vid_id{
	width:80%;
	margin-left: 30px;
}
#copyright{
	text-align: center;
}
#apod_title{
	text-align: center;
}
#apod_img_id{
	width: 70%;
	margin-left: 75px;
}
#apod_explaination{
	text-align: center;
}
body{
	background-color: slategrey;
}
h1{
	text-align: center;
}
.hidden{
	visibility: hidden;
}